.board {
    display: flex;
    flex-direction: column; /* Start from the top and go down */
    align-items: center;
    justify-content: center;
    width: 500px; /* Set the width as needed */
    height: 500px; /* Set the height as needed */
}

.row {
    display: flex;
}

.square {
    width: calc(20% - 10px); /* Adjust the width as needed, accounting for margins */
    height: calc(30% - 5px); /* Set the square size as needed */
    margin: 2px;
    border: 2px solid #000;
    padding: 10px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.square:hover {
    text-decoration: underline;
}
.players {
    display: flex;
    flex-direction: row; /* Arrange players in a single row */
    align-items: center;
    justify-content: center;
    width: 100%; /* Set the width as needed */
    flex-wrap: nowrap; /* Prevent wrapping to ensure all players are in a single row */
}

.player {
    flex: 1; /* Distribute available space equally among players */
    margin: 2px;
    border: 2px solid #000;
    padding: 10px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.card-decks {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-deck {
    width: calc(50% - 5px); /* Adjust the width as needed, accounting for margins */
    padding: 10px;
    border: 1px solid #000;
    max-height: 300px; /* Set a maximum height for the card deck */
    overflow-y: scroll; /* Enable vertical scrolling */

}

.card {
    flex: 1; /* Distribute available space equally among players */
    margin: 2px;
    border: 2px solid #000;
    padding: 10px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
